* {
  box-sizing: border-box;
}

.joinpitch-container{
  margin: 0px auto;
  padding: 30px 10px;
  height: 210px;
  width: 240px;
  background-color: none;
}

.joinpitch-content{
  margin:0px;
  color:  white;
  font-size: 23px;
}
