* {
  box-sizing: border-box;
}

.joinpitch-container{
  margin: 10px auto;
  padding: 10px 10px;
  height: 210px;
  width: 240px;
  background-color: none;
}

.joinpitch-content{
  margin:0px;
  color:  white;
  font-size: 23px;
}

.joinpitch-img{
  width: 50px;
  width: 50px;
  padding-top: 10px;
}
