* {
  box-sizing: border-box;
}


header {
  height: 100vh;
  padding: 45px 15px;
  background-image: url("../../assets/o.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;

}

.sub-header{
  text-transform: lowercase;
}

.appname{
  margin-top: 200px;
  font-size: 60px;
}
