* {
  box-sizing: border-box;
}


.placedetails-container{
  margin-left: auto;
  margin-right: auto;
  padding:30px;
  border: 5px #3feee6 solid;
}


.destination-img-container{
  width: 220px;
  height: 150px;
  border: grey solid 1px;
  margin-right: auto;
  margin-left: auto;
}

.location,
.address{
  text-align: center;
  margin: 5px 0px;
}

.location{
  margin-top: 13px;
}

.address{
  margin-bottom: 10px;
  font-size: 16px;
}

.review-btn{
  margin: 7px auto 2px;
  margin-right: auto;
  background: #fc4445;
  cursor: pointer;
  color: white;
  padding: 12px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  /* transition: background-color 0.5s ease; */
  border: none;
}
