.uniquereview-container{
  /* border: #cafafe solid 2px; */
  margin: 20px 0px;
  text-align: left;
  padding: 10px;
  background: white;
}

.red{
  color: #fc4445;
  font-weight: bold;
}

.uniqueReviewUser,
.uniqueReviewUserCreds{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.uniqueReviewSubmitted{
  font-style: italic;
  font-size: 17px;
}

.rating-box{
  text-align: right;
}

.uniqueReviewTitle,
.uniqueReviewRating{
  margin-top: 10px;
  margin-bottom: 10px;
}

.bgcolor{
  background-color: #cafafe;
}

.group{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  width:100%;
  font-size: 17px;
  padding: 10px 20px;
  background-color: white;
  height: 100%;
  border: 15px solid #cafafe;
}

.uniqueReviewTitle{
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}


.uniqueReviewImg{
  border: 10px solid #cafafe;
  max-width: 100%;
}

.clear{
  clear:both;
}

.stars{
  height: 30px;
  width: 35px;
}

.features-box{
  background-color: #cafafe;
  border-radius: 8px;
  text-align: center;
}

.features-box p{
  font-size: 18px;
  padding-bottom: 10px;

}

.calendarIconR,
.durationIconR,
.ratingIconR,
.safetyIconR,
.walletIconR,
.hangerIconR,
.summaryIconR{
  width: 21px;
  height: 21px;
  top: 5px;
  position: relative;
}

.uniqueReviewSummary{
  background-color:  white;
  border: 5px solid #cafafe;
  padding: 20px;
  margin-bottom: 1px;
  margin-top: 0px;
}
