* {
  box-sizing: border-box;
}

.greeting{
  margin-top: 5px;
  background-color: #fc4445;
  padding: 100px 15px;
}


.choice{
  margin-bottom: 50px;
  font-size: 40px;
  color: white;
}

.review-link,
.explore-link{
  border: #3feee6 10px solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  height: 200px;
  width: 250px;
}



.review-img,
.explore-img{
  width: 200px;
  height:200px;
  margin:15px;
  margin-top: 0px;
}


.choice-link{
  font-size: 25px;
  color: white;
  /* font-weight: bold; */
}
