* {
  box-sizing: border-box;
}

.register-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}


.register-legend{
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}


#first-name,
#username,
#password,
select{
  font-size: 20px;
  width: 100%;
  padding: 15px;
  outline-color: #84ceeb;
  margin-bottom: 20px;
  border: grey 1px solid;
  margin-top: 7px;
  margin-bottom: 20px;
}


.register-btn{
  cursor: pointer;
  padding: 12px 30px;
  margin: 15px;
  font-size: 15px;
}

select{
  display: block;
  font-size: 20px;
  text-indent: 5px;
}

select option{

}
