* {
  box-sizing: border-box;
}

.register-section{
  background-color: #cafafe;
  margin-top:0px;
  margin-bottom: 0px;
}

.register-container{
  margin: 30px auto;
  max-width: 500px;
  background-color: #cafafe;
}


.register-legend{
  font-size: 27px;
  font-weight: bold;
  padding: 7px 20px;
}


#name,
#username,
#password,
.register-container select{
  font-size: 20px;
  width: 100%;
  padding: 10px;
  outline-color: #84ceeb;
  margin-bottom: 20px;
  border: #cafafe 1px solid;
  margin-bottom: 15px;
}

.register-container label{
  float: left;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 19px;
}


.register-btn{
  margin: 10px auto 10px auto;
  background: #fc4445;
  cursor: pointer;
  color: white;
  padding: 15px 12px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  max-width: 200px;
  transition: background-color 0.5s ease;
  border: none;
}


select{
  display: block;
  font-size: 20px;
  text-indent: 5px;
}


.demo-creds{
  margin-bottom: 5px;
  font-size: 17px;
}

.demo{
  font-size: 15px;
  margin: 5px;
}

.italic{
  font-style: italic;
  font-weight: bold;
}
