* {
  box-sizing: border-box;
}

footer{
  color: #3B3B3B;
  background-color: #3feee6;
  width: 100%;
  bottom: 0;
  margin: 0;
}

.footer-content{
  margin: auto;
  padding-top:10px;
  padding-bottom: 10px;
  top: 20px;
}

.fa-github-square,
.fa-linkedin{
  text-align: center;
  font-size: 40px;
}

.githubIcon-container,
.linkedinIcon-container{
  padding: 0px 30px;
}
