* {
  box-sizing: border-box;
}

footer{
  color: #3B3B3B;
  background-color: #3feee6;
  height: 55px;
  width: 100%;
  bottom: 0;
  margin: 0;
}

.footer-content{
  margin: auto;
  padding-top:10px;
  top: 20px;
}

.fa-github-square,
.fa-linkedin{
  font-size: 40px;
}

.githubIcon-container{
  float: right;
  margin: 0px 25px;
}

.linkedinIcon-container{
  float: left;
  margin: 0px 25px;
  width: 30px;
  height: 30px;
}
