nav {
  margin-left: auto;
  margin-right: auto;
  padding: 1% 0;
  background-color: #3feee6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-btn a{
  cursor: pointer;
  font-size: 12px;
}

.fas{
  font-size: 35px;
  color: #fc4445;
  margin-bottom: 5px;
}


.wide-nav-btn{
  background: transparent;
  float: right;
  align-items: right;
  justify-content: center;
  border: none;
  margin-left: 20px;
  width: 60px;
}




.logo{
  width: 90px;
  height: 60px;
  float: left;
  margin-left: 0px;
  margin-right:0px;
}

@media only screen and (min-width: 640px) {

  .narrowLinks,
  .narrow-nav-btn,
  .navNarrow{
    display: none;
  }

  .navWide{
    display: block;
  }

}

@media only screen and (max-width: 639px) {
  .navWide{
    display: none;
  }

  .navNarrow {
    display: block;
    cursor: pointer;
  }

  .fa-bars{
    font-size: 45px;
    color: #fc4445;
    float: right;
  }

  .narrowLinks {
    display: none;
  }

  .narrowLinks Link {
    display: block;
    float: left;
    clear: right;
  }

  .narrowLinks .row{
    background: white;
  }

  .narrow-nav-btn{
    width: 100%;
    background-color: white;
    border: none;
    padding: 10px;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
  }

  .narrow-nav-btn .fa-home{
    padding-top: 22px;
  }

  .narrowIcon{
    font-size: 27px;
  }

  .linknarrow{
    font-size: 17px;
    float: right;
  }

  .narrow-nav-btn:hover{
    background-color: #cafafe;
    color: #55bcc9;
  }


}
